

<ion-content>
  <div  style="height: auto; width: 100%;background-image: linear-gradient( to right, rgb(42, 155, 121), rgb(25, 139, 115));">
    <div class="container" style="padding: 0.2em;">
      <ion-card>
          <ion-card-header>
          <p style=" text-align: center;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Signos / Síntomas </p>
           </ion-card-header>
        <ion-card-content>
          <hr style="width: 100%; margin-top: -5px; text-align: center; background-color: rgb(133, 128, 128)">		
     
     
     
          <ion-row>
						<!--Quinto grupo de chceckBox-->
						<ion-col size="6">Cardiopatía crónica  </ion-col>
							<ion-col size="1">S
							</ion-col>	
									  <ion-col size="1">
										  <ion-checkbox color="light"></ion-checkbox>
		 							  </ion-col>
		  							<ion-col size="1">N</ion-col>
								    <ion-col size="1">
			  							 <ion-checkbox color="light"></ion-checkbox>
		 							 </ion-col>
						</ion-row>
						<ion-row>
							<!--Quinto grupo de chceckBox-->
							<ion-col size="6">Enfermedad pulmonar crónica </ion-col>
								<ion-col size="1">S
								</ion-col>	
										  <ion-col size="1">
											  <ion-checkbox color="light"></ion-checkbox>
										   </ion-col>
										  <ion-col size="1">N</ion-col>
										<ion-col size="1">
											   <ion-checkbox color="light"></ion-checkbox>
										  </ion-col>
							</ion-row>  <ion-row>
								<!--Quinto grupo de chceckBox-->
								<ion-col size="6">Asma </ion-col>
									<ion-col size="1">S
									</ion-col>	
											  <ion-col size="1">
												  <ion-checkbox color="light"></ion-checkbox>
											   </ion-col>
											  <ion-col size="1">N</ion-col>
											<ion-col size="1">
												   <ion-checkbox color="light"></ion-checkbox>
											  </ion-col>
								</ion-row>  <ion-row>
									<!--Quinto grupo de chceckBox-->
									<ion-col size="6">Diabetes </ion-col>
										<ion-col size="1">S
										</ion-col>	
												  <ion-col size="1">
													  <ion-checkbox color="light"></ion-checkbox>
												   </ion-col>
												  <ion-col size="1">N</ion-col>
												<ion-col size="1">
													   <ion-checkbox color="light"></ion-checkbox>
												  </ion-col>
									</ion-row>  <ion-row>
										<!--Quinto grupo de chceckBox-->
										<ion-col size="6">Enfermedad renal crónica </ion-col>
											<ion-col size="1">S
											</ion-col>	
													  <ion-col size="1">
														  <ion-checkbox color="light"></ion-checkbox>
													   </ion-col>
													  <ion-col size="1">N</ion-col>
													<ion-col size="1">
														   <ion-checkbox color="light"></ion-checkbox>
													  </ion-col>
										</ion-row>  <ion-row>
											<!--Quinto grupo de chceckBox-->
											<ion-col size="6">Otros (especificar)  </ion-col>
												<ion-col size="1">S
												</ion-col>	
														  <ion-col size="1">
															  <ion-checkbox color="light"></ion-checkbox>
														   </ion-col>
														  <ion-col size="1">N</ion-col>
														<ion-col size="1">
															   <ion-checkbox color="light"></ion-checkbox>
														  </ion-col>
											</ion-row>  <ion-row>
												<!--Quinto grupo de chceckBox-->
												<ion-col size="6">Inmunodeficiencia por enfermedad o tratamiento </ion-col>
													<ion-col size="1">S
													</ion-col>	
															  <ion-col size="1">
																  <ion-checkbox color="light"></ion-checkbox>
															   </ion-col>
															  <ion-col size="1">N</ion-col>
															<ion-col size="1">
																   <ion-checkbox color="light"></ion-checkbox>
															  </ion-col>
												</ion-row>
						  <ion-row>
							<!--Quinto grupo de chceckBox-->
							<ion-col size="6">Enfermedad neurológica o neuromuscular crónica
              </ion-col>
		
							<ion-col size="1">S
							</ion-col>
							
			  <ion-col size="1">
				  
			  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
			  <ion-col size="1">N</ion-col>
		  
			  <ion-col size="1">
				  
				  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
							  </ion-row>


                









                     
          <ion-row>
						<!--Quinto grupo de chceckBox-->
						<ion-col size="6">Síndrome de Down </ion-col>
							<ion-col size="1">S
							</ion-col>	
									  <ion-col size="1">
										  <ion-checkbox color="light"></ion-checkbox>
		 							  </ion-col>
		  							<ion-col size="1">N</ion-col>
								    <ion-col size="1">
			  							 <ion-checkbox color="light"></ion-checkbox>
		 							 </ion-col>
						</ion-row>
						<ion-row>
							<!--Quinto grupo de chceckBox-->
							<ion-col size="6">Obesidad  </ion-col>
								<ion-col size="1">S
								</ion-col>	
										  <ion-col size="1">
											  <ion-checkbox color="light"></ion-checkbox>
										   </ion-col>
										  <ion-col size="1">N</ion-col>
										<ion-col size="1">
											   <ion-checkbox color="light"></ion-checkbox>
										  </ion-col>
							</ion-row>  <ion-row>
								<!--Quinto grupo de chceckBox-->
								<ion-col size="6">Enfermedad hepática crónica</ion-col>
									<ion-col size="1">S
									</ion-col>	
											  <ion-col size="1">
												  <ion-checkbox color="light"></ion-checkbox>
											   </ion-col>
											  <ion-col size="1">N</ion-col>
											<ion-col size="1">
												   <ion-checkbox color="light"></ion-checkbox>
											  </ion-col>
								</ion-row>  <ion-row>
									<!--Quinto grupo de chceckBox-->
									<ion-col size="6">Personal de Salud  </ion-col>
										<ion-col size="1">S
										</ion-col>	
												  <ion-col size="1">
													  <ion-checkbox color="light"></ion-checkbox>
												   </ion-col>
												  <ion-col size="1">N</ion-col>
												<ion-col size="1">
													   <ion-checkbox color="light"></ion-checkbox>
												  </ion-col>
									</ion-row>  <ion-row>
										<!--Quinto grupo de chceckBox-->
										<ion-col size="6">Embarazada </ion-col>
											<ion-col size="1">S
											</ion-col>	
													  <ion-col size="1">
														  <ion-checkbox color="light"></ion-checkbox>
													   </ion-col>
													  <ion-col size="1">N</ion-col>
													<ion-col size="1">
														   <ion-checkbox color="light"></ion-checkbox>
													  </ion-col>
										</ion-row>  <ion-row>
											<!--MUDAR ESSA PORRA-->
											<ion-col size="6">Trimestre de embarazo </ion-col>
												<ion-col size="1">S
												</ion-col>	
														  <ion-col size="1">
															  <ion-checkbox color="light"></ion-checkbox>
														   </ion-col>
														  <ion-col size="1">N</ion-col>
														<ion-col size="1">
															   <ion-checkbox color="light"></ion-checkbox>
														  </ion-col>
											</ion-row>  <ion-row>
												<!--Quinto grupo de chceckBox-->
												<ion-col size="6">Puérpera </ion-col>
													<ion-col size="1">S
													</ion-col>	
															  <ion-col size="1">
																  <ion-checkbox color="light"></ion-checkbox>
															   </ion-col>
															  <ion-col size="1">N</ion-col>
															<ion-col size="1">
																   <ion-checkbox color="light"></ion-checkbox>
															  </ion-col>
												</ion-row>
						  <ion-row>
							<!--Quinto grupo de // Fecha chceckBox-->
							<ion-col size="6">Vacunación influenza: </ion-col>
		
							<ion-col size="1">S
							</ion-col>
							
			  <ion-col size="1">
				  
			  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
			  <ion-col size="1">N</ion-col>
		  
			  <ion-col size="1">
				  
				  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
							  </ion-row>


                

               

</ion-card-content>
</ion-card>
</div>
</div>
</ion-content>