

<ion-content>
  <div  style="height: auto; width: 100%;background-image: linear-gradient( to right, rgb(42, 155, 121), rgb(25, 139, 115));">
    <div class="container" style="padding: 0.2em;">
      <ion-card>
          <ion-card-header>
          <p style=" text-align: center;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Signos / Síntomas </p>
           </ion-card-header>
        <ion-card-content>
          <hr style="width: 100%; margin-top: -5px; text-align: center; background-color: rgb(133, 128, 128)">		
     
     
     
          <ion-row>
						<!--Quinto grupo de chceckBox-->
						<ion-col size="6">Fiebre referida: </ion-col>
							<ion-col size="1">S
							</ion-col>	
									  <ion-col size="1">
										  <ion-checkbox color="light"></ion-checkbox>
		 							  </ion-col>
		  							<ion-col size="1">N</ion-col>
								    <ion-col size="1">
			  							 <ion-checkbox color="light"></ion-checkbox>
		 							 </ion-col>
						</ion-row>
						<ion-row>
							<!--Quinto grupo de chceckBox-->
							<ion-col size="6">Temperatura >37,5º C  </ion-col>
								<ion-col size="1">S
								</ion-col>	
										  <ion-col size="1">
											  <ion-checkbox color="light"></ion-checkbox>
										   </ion-col>
										  <ion-col size="1">N</ion-col>
										<ion-col size="1">
											   <ion-checkbox color="light"></ion-checkbox>
										  </ion-col>
							</ion-row>  <ion-row>
								<!--Quinto grupo de chceckBox-->
								<ion-col size="6">Terapia Intensiva: </ion-col>
									<ion-col size="1">S
									</ion-col>	
											  <ion-col size="1">
												  <ion-checkbox color="light"></ion-checkbox>
											   </ion-col>
											  <ion-col size="1">N</ion-col>
											<ion-col size="1">
												   <ion-checkbox color="light"></ion-checkbox>
											  </ion-col>
								</ion-row>  <ion-row>
									<!--Quinto grupo de chceckBox-->
									<ion-col size="6">Coriza o rinorrea : </ion-col>
										<ion-col size="1">S
										</ion-col>	
												  <ion-col size="1">
													  <ion-checkbox color="light"></ion-checkbox>
												   </ion-col>
												  <ion-col size="1">N</ion-col>
												<ion-col size="1">
													   <ion-checkbox color="light"></ion-checkbox>
												  </ion-col>
									</ion-row>  <ion-row>
										<!--Quinto grupo de chceckBox-->
										<ion-col size="6">Congestión nasal : </ion-col>
											<ion-col size="1">S
											</ion-col>	
													  <ion-col size="1">
														  <ion-checkbox color="light"></ion-checkbox>
													   </ion-col>
													  <ion-col size="1">N</ion-col>
													<ion-col size="1">
														   <ion-checkbox color="light"></ion-checkbox>
													  </ion-col>
										</ion-row>  <ion-row>
											<!--Quinto grupo de chceckBox-->
											<ion-col size="6">Tos: </ion-col>
												<ion-col size="1">S
												</ion-col>	
														  <ion-col size="1">
															  <ion-checkbox color="light"></ion-checkbox>
														   </ion-col>
														  <ion-col size="1">N</ion-col>
														<ion-col size="1">
															   <ion-checkbox color="light"></ion-checkbox>
														  </ion-col>
											</ion-row>  <ion-row>
												<!--Quinto grupo de chceckBox-->
												<ion-col size="6">Dificultad para respirar: </ion-col>
													<ion-col size="1">S
													</ion-col>	
															  <ion-col size="1">
																  <ion-checkbox color="light"></ion-checkbox>
															   </ion-col>
															  <ion-col size="1">N</ion-col>
															<ion-col size="1">
																   <ion-checkbox color="light"></ion-checkbox>
															  </ion-col>
												</ion-row>
						  <ion-row>
							<!--Quinto grupo de chceckBox-->
							<ion-col size="6">Irritabilidad/Confusión: </ion-col>
		
							<ion-col size="1">S
							</ion-col>
							
			  <ion-col size="1">
				  
			  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
			  <ion-col size="1">N</ion-col>
		  
			  <ion-col size="1">
				  
				  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
							  </ion-row>


                









                     
          <ion-row>
						<!--Quinto grupo de chceckBox-->
						<ion-col size="6">Dolor de oído: </ion-col>
							<ion-col size="1">S
							</ion-col>	
									  <ion-col size="1">
										  <ion-checkbox color="light"></ion-checkbox>
		 							  </ion-col>
		  							<ion-col size="1">N</ion-col>
								    <ion-col size="1">
			  							 <ion-checkbox color="light"></ion-checkbox>
		 							 </ion-col>
						</ion-row>
						<ion-row>
							<!--Quinto grupo de chceckBox-->
							<ion-col size="6">Dolorde garganta  </ion-col>
								<ion-col size="1">S
								</ion-col>	
										  <ion-col size="1">
											  <ion-checkbox color="light"></ion-checkbox>
										   </ion-col>
										  <ion-col size="1">N</ion-col>
										<ion-col size="1">
											   <ion-checkbox color="light"></ion-checkbox>
										  </ion-col>
							</ion-row>  <ion-row>
								<!--Quinto grupo de chceckBox-->
								<ion-col size="6">Mialgias: </ion-col>
									<ion-col size="1">S
									</ion-col>	
											  <ion-col size="1">
												  <ion-checkbox color="light"></ion-checkbox>
											   </ion-col>
											  <ion-col size="1">N</ion-col>
											<ion-col size="1">
												   <ion-checkbox color="light"></ion-checkbox>
											  </ion-col>
								</ion-row>  <ion-row>
									<!--Quinto grupo de chceckBox-->
									<ion-col size="6">Artralgias: </ion-col>
										<ion-col size="1">S
										</ion-col>	
												  <ion-col size="1">
													  <ion-checkbox color="light"></ion-checkbox>
												   </ion-col>
												  <ion-col size="1">N</ion-col>
												<ion-col size="1">
													   <ion-checkbox color="light"></ion-checkbox>
												  </ion-col>
									</ion-row>  <ion-row>
										<!--Quinto grupo de chceckBox-->
										<ion-col size="6">Postración : </ion-col>
											<ion-col size="1">S
											</ion-col>	
													  <ion-col size="1">
														  <ion-checkbox color="light"></ion-checkbox>
													   </ion-col>
													  <ion-col size="1">N</ion-col>
													<ion-col size="1">
														   <ion-checkbox color="light"></ion-checkbox>
													  </ion-col>
										</ion-row>  <ion-row>
											<!--Quinto grupo de chceckBox-->
											<ion-col size="6">Diarrea: </ion-col>
												<ion-col size="1">S
												</ion-col>	
														  <ion-col size="1">
															  <ion-checkbox color="light"></ion-checkbox>
														   </ion-col>
														  <ion-col size="1">N</ion-col>
														<ion-col size="1">
															   <ion-checkbox color="light"></ion-checkbox>
														  </ion-col>
											</ion-row>  <ion-row>
												<!--Quinto grupo de chceckBox-->
												<ion-col size="6">Náuseas o vómitos: </ion-col>
													<ion-col size="1">S
													</ion-col>	
															  <ion-col size="1">
																  <ion-checkbox color="light"></ion-checkbox>
															   </ion-col>
															  <ion-col size="1">N</ion-col>
															<ion-col size="1">
																   <ion-checkbox color="light"></ion-checkbox>
															  </ion-col>
												</ion-row>
						  <ion-row>
							<!--Quinto grupo de chceckBox-->
							<ion-col size="6">Disgeusia: </ion-col>
		
							<ion-col size="1">S
							</ion-col>
							
			  <ion-col size="1">
				  
			  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
			  <ion-col size="1">N</ion-col>
		  
			  <ion-col size="1">
				  
				  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
							  </ion-row>


                













                         
          <ion-row>
						<!--Quinto grupo de chceckBox-->
						<ion-col size="6">Dolor de cabeza: </ion-col>
							<ion-col size="1">S
							</ion-col>	
									  <ion-col size="1">
										  <ion-checkbox color="light"></ion-checkbox>
		 							  </ion-col>
		  							<ion-col size="1">N</ion-col>
								    <ion-col size="1">
			  							 <ion-checkbox color="light"></ion-checkbox>
		 							 </ion-col>
						</ion-row>
						<ion-row>
							<!--Quinto grupo de chceckBox-->
							<ion-col size="6">Inyección Conjuntival
              </ion-col>
								<ion-col size="1">S
								</ion-col>	
										  <ion-col size="1">
											  <ion-checkbox color="light"></ion-checkbox>
										   </ion-col>
										  <ion-col size="1">N</ion-col>
										<ion-col size="1">
											   <ion-checkbox color="light"></ion-checkbox>
										  </ion-col>
							</ion-row>  <ion-row>
								<!--Quinto grupo de chceckBox-->
								<ion-col size="6">Disnea/Taquipnea </ion-col>
									<ion-col size="1">S
									</ion-col>	
											  <ion-col size="1">
												  <ion-checkbox color="light"></ion-checkbox>
											   </ion-col>
											  <ion-col size="1">N</ion-col>
											<ion-col size="1">
												   <ion-checkbox color="light"></ion-checkbox>
											  </ion-col>
								</ion-row>  <ion-row>
									<!--Quinto grupo de chceckBox-->
									<ion-col size="6">Dolor abdominal: </ion-col>
										<ion-col size="1">S
										</ion-col>	
												  <ion-col size="1">
													  <ion-checkbox color="light"></ion-checkbox>
												   </ion-col>
												  <ion-col size="1">N</ion-col>
												<ion-col size="1">
													   <ion-checkbox color="light"></ion-checkbox>
												  </ion-col>
									</ion-row>  <ion-row>
										<!--Quinto grupo de chceckBox-->
										<ion-col size="6">Convulsiones: </ion-col>
											<ion-col size="1">S
											</ion-col>	
													  <ion-col size="1">
														  <ion-checkbox color="light"></ion-checkbox>
													   </ion-col>
													  <ion-col size="1">N</ion-col>
													<ion-col size="1">
														   <ion-checkbox color="light"></ion-checkbox>
													  </ion-col>
										</ion-row>  <ion-row>
											<!--Quinto grupo de chceckBox-->
											<ion-col size="6">Auscultación pulmonar anormal: </ion-col>
												<ion-col size="1">S
												</ion-col>	
														  <ion-col size="1">
															  <ion-checkbox color="light"></ion-checkbox>
														   </ion-col>
														  <ion-col size="1">N</ion-col>
														<ion-col size="1">
															   <ion-checkbox color="light"></ion-checkbox>
														  </ion-col>
											</ion-row>  <ion-row>
												<!--Quinto grupo de chceckBox-->
												<ion-col size="6">Inyección conjuntival
                        </ion-col>
													<ion-col size="1">S
													</ion-col>	
															  <ion-col size="1">
																  <ion-checkbox color="light"></ion-checkbox>
															   </ion-col>
															  <ion-col size="1">N</ion-col>
															<ion-col size="1">
																   <ion-checkbox color="light"></ion-checkbox>
															  </ion-col>
												</ion-row>
						  <ion-row>
              <!--TEXTAREA-->
							<ion-col size="6">Disgeusia: </ion-col>
		
							<ion-col size="1">S
							</ion-col>
							
			  <ion-col size="1">
				  
			  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
			  <ion-col size="1">N</ion-col>
		  
			  <ion-col size="1">
				  
				  <ion-checkbox color="light"></ion-checkbox>
			  </ion-col>
							  </ion-row>





    <ion-button (click)="dismiss()" expand="block"> 
      iniciar la historia clínica! 
    </ion-button><br>
    
        </ion-card-content>
      </ion-card>
</div>
</div>

</ion-content>
